@page "/Leerdoelen/Analyseren/Onderzoek"
<br />
<br />
<h1>Competentie II: Analyseren</h1>
<br />

<h2>Leerdoel 3: Onderzoek</h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p>
<br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft de onderzoeksfase van mijn stage. Met behulp van de opgestelde requirements ben ik op zoek gegaan naar geschikte rapportagetools.
    Dit heb ik gedaan door verschillende websites af te gaan waar ze verschillende rapportagetools met elkaar vergeleken of een top tien maakte van de beste rapportagetools.
    Uiteindelijk hebben Wing Yee en ik een lijst van rapportagetools opgesteld en hier onderzoek naar gedaan. Hieronder lees je meer over mijn onderzoek naar de rapportagetools die ik heb gevonden.
</p>
<br />

<h5>Onderzoek verschillende rapportagetools</h5>
<p>
    Voor dit leerdoel heb ik een onderzoeksrapport geschreven (zie Bewijslast I). Het doel van dit onderzoek is om erachter te komen waar er gelet op moet worden bij het kiezen van geschikte rapportagetools
    en welke rapportagetools uit de lijst van rapportagetools wel of niet aan de criteria voldoen. Voordat ik begon met schrijven, heb ik eerst vooronderzoek gedaan naar wat rapportagetools zijn aangezien
    ik toen nog geen idee had wat een rapportagetool is. Met behulp van mijn vooronderzoek en de opgestelde requirements heb ik de hoofdvraag en deelvragen gaan opgesteld. Dit onderzoek zal een antwoord
    geven op de vraag: <i>Welke rapportagetools zijn het meest geschikt voor Ranshuijsen BV?</i><br />
    Hierbij zal antwoord worden gegevens op de volgende deelvragen: <br />
    •	Wat is een rapportagetool?<br />
    •	Welke veelvoorkomende fouten worden er gemaakt bij het kiezen van een rapportagetool?<br />
    •	Aan welke criteria moet een rapportagetool voor Ranshuijsen BV voldoen?<br />
    •	Welke rapportagetools voldoen aan de criteria?<br />
    •	Welke rapportagetools voldoen niet aan de criteria?<br />
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    Hieronder zie je het onderzoeksrapport dat ik heb geschreven tijdens mijn stage.<br />
    <p><b>Onderzoeksrapport volgt nog! WIP</b></p>
</p>

<h3>Feedback</h3>
Feedback van bedrijfsbegeleider/collega
<br />
<br />

<h3>Reflectie</h3>
Reflectie op feedback van bedrijfsbegeleider/collega
<br />
•	Welke feedback heb je verkregen?
<br />
•	Wat heb je van deze feedback geleerd?
<br />
•	Wat heb je met de feedback gedaan?
<br />
•	Wat zou je een volgende keer anders doen?
<br />
•	Uiteraard kun je hier zelf verdere invulling aan geven in overleg met je stagedocent.
<br />

<br />
@code {

}
