@page "/Leerdoelen/Analyseren/Onderzoek"
<br />
<br />
<h1>Competentie II: Analyseren</h1><br />

<h2>Leerdoel 3: Onderzoek</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p><br />

<h3>Inleiding</h3>

•	Maximaal ½ A4 per leerdoel<br />
•	Voor elk leerdoel per competentie een inleiding, waarin je uitlegt;<br />
o	Wat je bewijslast precies inhoudt<br />
o	Welke stappen je hebt genomen om hiertoe te komen/welk leerproces je hebt doorgemaakt<br />
o	Wat je ervan hebt geleerd<br />
<br />

<p>
    Deze pagina beschrijft de onderzoeksfase van mijn stage. Allereerst ben ik begonnen met een vooronderzoek naar rapportagetools ...
</p>
<br />

<h5>Vooronderzoek</h5>
<p>
    -onderzoeksrapport<br />
    -hoofdvraag, deelvragen<br />
    -doel<br />
</p>
<br />

<h5>Onderzoek verschillende rapportagetools</h5>
<p>
    -requirements<br />
    -verschillen (van elkaar en van huidige rapportagetool)<br />
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
Toelichting bewijslast I<br />
<h5>Bewijslast II (optioneel)</h5>
Toelichting bewijslast II<br />
<br />

<h3>Feedback</h3>
Feedback van bedrijfsbegeleider/collega<br />
<br />

<h3>Reflectie</h3>
Reflectie op feedback van bedrijfsbegeleider/collega<br />
•	Welke feedback heb je verkregen?<br />
•	Wat heb je van deze feedback geleerd?<br />
•	Wat heb je met de feedback gedaan?<br />
•	Wat zou je een volgende keer anders doen?<br />
•	Uiteraard kun je hier zelf verdere invulling aan geven in overleg met je stagedocent.<br />

<br />
@code {

}
