@page "/Leerdoelen/Analyseren/Onderzoek"
<br />
<br />
<h1>Competentie II: Analyseren</h1><br />

<h2>Leerdoel 3: Onderzoek</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p><br />

@code {

}
