@page "/Leerdoelen/Analyseren/Onderzoek"
<br />
<br />
<h1>Competentie II: Analyseren</h1>
<br />

<h2>Leerdoel 3: Onderzoek</h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p>
<br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft de onderzoeksfase van mijn stage. Met behulp van de opgestelde requirements ben ik op zoek gegaan naar geschikte rapportagetools. 
    Dit heb ik gedaan door websites af te gaan waar ze verschillende rapportagetools met elkaar vergeleken of een top tien maakten van de beste rapportagetools. 
    Uiteindelijk hebben mijn mede-stagiaire Wing Yee en ik een lijst van rapportagetools opgesteld en hier onderzoek naar gedaan. Hieronder lees je meer over mijn 
    onderzoek naar de rapportagetools die ik heb gevonden.
</p>
<br />

<h5>Onderzoek verschillende rapportagetools</h5>
<p>
    Voor dit leerdoel heb ik een onderzoeksrapport geschreven (zie Bewijslast I). Het doel van dit onderzoek is om erachter te komen waarop gelet moet worden bij 
    het kiezen van geschikte rapportagetools en welke rapportagetools uit mijn gedeelte van de lijst van rapportagetools wel of niet aan de criteria voldoen. 
    Voordat ik begon met schrijven, heb ik eerst vooronderzoek gedaan naar wat rapportagetools zijn, aangezien ik toen nog geen idee had wat een rapportagetool is.
    <br /><br />
    Vervolgens ben ik op zoek gegaan naar geschikte rapportagetools met behulp van de opgestelde requirements. Uiteindelijk ontdekte ik de websites Capterra en Gartner 
    waar je software en andere resources met elkaar kan vergelijken. Voor het zoeken naar rapportagetools heb ik de websites Capterra en Gartner gebruikt, vanwege de 
    gedetailleerde informatie over de prijzen, implementatie, functies, alternatieven en reviews. Daarnaast bieden Capterra en Gartner de mogelijkheid om rapportagetools 
    met elkaar te vergelijken en een top lijst te zien van mogelijke alternatieven. Ook hebben deze websites al jaren ervaring met het vergelijken van software en zijn 
    de meeste producten op hun website ook geverifieerd door de leveranciers.
    <br /><br />
    Aangezien er veel rapportagetools op de opgestelde lijst van rapportagetools stonden, hebben Wing Yee en ik de opgestelde lijst verdeeld en ieder een gedeelte van 
    de lijst onderzocht (zie Bewijslast II). In mijn onderzoeksrapport heb ik alleen mijn gedeelte van de lijst onderzocht.
    <br /><br />
    Met behulp van mijn vooronderzoek naar ‘wat is een rapportagetool?’ en de opgestelde requirements heb ik de onderstaande hoofd- en deelvragen zelf opgesteld. 
    Dit onderzoek zal een antwoord geven op de vraag: <i>Welke rapportagetools zijn het meest geschikt voor Ranshuijsen BV?</i>
    Hierbij zal antwoord worden gegevens op de volgende deelvragen:<br />
</p>
    <p class="tab">•	Wat is een rapportagetool?</p>
    <p class="tab">•	Welke veelvoorkomende fouten worden er gemaakt bij het kiezen van een rapportagetool?</p>
    <p class="tab">•	Aan welke criteria moet een rapportagetool voor Ranshuijsen BV voldoen?</p>
    <p class="tab">•	Welke rapportagetools voldoen aan de criteria?</p>
    <p class="tab">•	Welke rapportagetools voldoen niet aan de criteria?</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    Hieronder zie je het onderzoeksrapport dat ik heb geschreven tijdens mijn stage, inclusief de feedback van Rim, die ik uiteindelijk heb verwerkt.<br />
    <div class="pdfviewer">
        <embed src="pdf/Onderzoeksrapport.pdf" style="height: 100vh; width: 100%;" />
    </div>
</p>
<br /><br />
<h5>Bewijslast II</h5>
<p class="description">
    Hieronder zie je de lijst van rapportagetools die Wing Yee en ik hebben opgesteld. Aan de linkerkant zie je de rapportagetools die ik heb gevonden en onderzocht.<br />
    <table>
      <tr>
        <th><p>Wing Man</p></th>
        <th><p>Wing Yee</p></th>
      </tr>
      <tr>
        <td><p>DevExpress</p></td>
        <td><p>Logi Analytics</p></td>
      </tr>
      <tr>
        <td><p>Bold Reports</p></td>
        <td><p>ActiveReports</p></td>
      </tr>
      <tr>
        <td><p>Stimulsoft</p></td>
        <td><p>Telerik Reporting</p></td>
      </tr>
      <tr>
        <td><p>SAP BusinessObjects BI</p></td>
        <td><p>SealReport</p></td>
      </tr>
      <tr>
        <td><p>Sisense Fusion Embed</p></td>
        <td><p>Dotnet Report</p></td>
      </tr>
      <tr>
        <td><p>MicroStrategy BI</p></td>
        <td><p>Metabase</p></td>
      </tr>
      <tr>
        <td><p>TIBCO Spotfire</p></td>
        <td><p>Tableau Desktop</p></td>
      </tr>
      <tr>
        <td><p>IBM Cognos Analytics</p></td>
        <td><p>Qlik Sense</p></td>
      </tr>
      <tr>
        <td><p>Looker</p></td>
        <td><p>Targit Decision Suite</p></td>
      </tr>
      <tr>
        <td><p>Birst</p></td>
        <td><p>InetSoft</p></td>
      </tr>
      <tr>
        <td><p>BOARD</p></td>
        <td><p>Izenda BI</p></td>
      </tr>
      <tr>
        <td><p>Zoho Analytics</p></td>
        <td><p>TruBi (stopped)</p></td>
      </tr>
      <tr>
        <td><p>Yellowfin Analytics Suite</p></td>
        <td><p>Cubeware</p></td>
      </tr>
      <tr>
        <td><p>Pyramid Analytics</p></td>
        <td><p>List &amp; Label</p></td>
      </tr>
      <tr>
        <td><p>Diver Platform</p></td>
        <td><p>ComponentOne</p></td>
      </tr>
      <tr>
        <td><p>Alteryx APA Platform</p></td>
        <td><p>SSRS</p></td>
      </tr>
      <tr>
        <td><p>Zendesk Explore</p></td>
      </tr>
      <tr>
        <td><p>Toucan Embedded Analytics</p></td>
      </tr>
      <tr>
        <td><p>GoodData Platform</p></td>
      </tr>
      <tr>
        <td><p>Pentaho Reporting Designer</p></td>
      </tr>
      <tr>
        <td><p>Incorta</p></td>
      </tr>
      <tr>
        <td><p>Minitab Connect</p></td>
      </tr>
    </table>
    <br />
</p>

<h3>Feedback</h3>
<p class="description">
    Rim Ranshuijsen - De lijst met mogelijke tools was aanzienlijk groter dan ik zelf in beeld had. Het onderzoek is in mijn ogen uitvoerig gedaan. Zeker gezien de initiële onbekendheid met het 
    vraagstuk en de doelstellingen om een juiste tool te vinden en waarom dit van belang is. Boven verwachting dus.
</p>
<br />
<br />

<h3>Reflectie</h3>
<p class="description">
    Als feedback heb ik kregen dat het onderzoek uitvoerig is gedaan. Vooral omdat ik onbekend was met het vraagstuk, de doelstellingen om een juiste rapportagetool te vinden 
    en waarom dit van belang is.
    <br /><br />
    Voordat ik mijn onderzoeksrapport kon opstellen, moest ik eerst een lijst van mogelijk geschikte rapportagetools opstellen (zie Bewijslast II). In het begin had ik eerst 
    moeite met het opstellen van zo’n lijst, omdat er veel artikelen subjectief waren. Uiteindelijk kwam ik uit op Capterra en Gartner voor het vergelijken van verschillende 
    rapportagetools. Op deze websites kon ik gedetailleerde informatie over de prijzen, implementatie, functies, alternatieven en reviews van rapportagetools met elkaar 
    vergelijken. Zodra ik een lijst van rapportagetools had opgesteld, heb ik contact opgenomen met de bedrijven van de rapportagetools om te kijken of de rapportagetools aan 
    de opgestelde requirements konden voldoen. Hierdoor konden we al snel onze lijst verkleinen, omdat veel rapportages op de lijst niet web-gebaseerd waren of niet in een 
    bestaand project konden worden ingebouwd. Tijdens het opstellen van de lijst rapportagetools en het verkleinen van deze lijst, heb ik geleerd dat ik bestaande websites, 
    speciaal gemaakt voor het vergelijken van software, kan gebruiken om rapportagetools met elkaar te vergelijken. Daarnaast heb ik ook geleerd om contact op te nemen met 
    de bedrijven van de rapportagetools in de opgestelde lijst van rapportagetools, zodat ik gemakkelijk kan bevestigen of hun rapportagetool aan de opgestelde requirements 
    kan voldoen. In de toekomst weet ik dat ik gebruik kan maken van websites, zoals Capterra en Gartner, voor het vergelijken van software producten, zodat ik minder moeite 
    hoef te doen om de software producten zelf met elkaar te vergelijken. 
    <br /><br />
    Aangezien ik in mijn tweede jaar van Informatica een onderzoeksrapport heb geschreven, had ik tijdens mijn stage weinig moeite met het opstellen van een onderzoeksrapport 
    (zie Bewijslast I). Het enige lastige gedeelte tijdens mijn onderzoeksfase was het uitzoeken van wat rapportagetools zijn, wat het doel van een rapportagetool is en 
    waarom het van belang is om de juiste rapportagetool te kiezen. Dit werd mij echter duidelijk toen ik deelvraag 1 ‘Wat is een rapportagetool?’ en deelvraag 2 ‘Welke 
    veelvoorkomende fouten worden er gemaakt bij het kiezen van een rapportagetool?’ van mijn onderzoeksrapport had beantwoord. Ik heb geleerd om onderzoek te doen naar 
    een onbekend onderwerp, zodat ik het vraagstuk begrijp en een duidelijk doel heb voor het onderzoeksrapport. Hierdoor is het opstellen van de hoofd- en deelvragen een 
    stuk makkelijker geworden, omdat ik weet waar ik antwoord op wil hebben. Als ik in de toekomst opnieuw een onderzoeksrapport moet schrijven over een onbekend vraagstuk, 
    zal ik meteen beginnen bij het verzamelen van informatie om een helder antwoord te krijgen op wat het vraagstuk is, wat de doelstellingen zijn en wat het belang is van 
    het onderzoek.
    <br /><br />
    Zelf denk ik dat ik dit leerdoel heb behaald, omdat ik uitgebreid onderzoek heb gedaan naar verschillende rapportagetools en hoe deze rapportagetools werken. Toen ik met 
    mijn stage begon, had ik nog geen kennis over rapportagetools. Dankzij mijn onderzoeksfase heb ik veel geleerd over verschillende rapportagetools en waarom het van belang 
    is dat de juiste rapportagetool wordt gekozen. 
</p>
<br />
<br />
@code {

}
