@page "/Leerdoelen/Analyseren/Requirementsanalyse"
<br />
<br />
<h1>Competentie II: Analyseren</h1><br />

<h2>Leerdoel 2: Requirementsanalyse </h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een requirementsanalyse uit te voeren voor een reporting engine met verschillende belanghebbenden.”</p><br />

<h3>Inleiding</h3>

•	Maximaal ½ A4 per leerdoel<br />
•	Voor elk leerdoel per competentie een inleiding, waarin je uitlegt;<br />
o	Wat je bewijslast precies inhoudt<br />
o	Welke stappen je hebt genomen om hiertoe te komen/welk leerproces je hebt doorgemaakt<br />
o	Wat je ervan hebt geleerd<br />
<br />

<p>
    Deze pagina beschrijft de requirementsanalyse die ik heb uitgevoerd tijdens mijn stage. Intervragen, interviews houden, probleemanalyse, requirements opstellen/prioriteren/feedback. WIP!
</p>
<br />

<h5>Interviews</h5>
<p>
    -wat moet ik minimaal weten na het gesprek?<br />
    -interviewvragen<br />
    -probleemanalyse (verwijzen naar bewijslast (probleemanalyse))<br />
    -wensen/eisen<br /><br />
    Voordat ik begon met het opstellen van requirements, moest ik eerst interviews houden om requirements voor de nieuwe rapportagetool te kunnen verzamelen. 
    Ik ben begonnen met het bedenken van een aantal interviewvragen met behulp van mijn vooronderzoek waarin stond waar je rekening mee moet houden tijdens het kiezen van een nieuwe 
    rapportagetool ... WIP!
</p>
<br />

<h5>Requirements opstellen</h5>
<p>
    -Functional & Non-Functional Requirements<br />
    -MoSCoW<br />
    -Feedback<br />
    -Verwijzen naar bewijslast (opgestelde requirements)<br />
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
Toelichting bewijslast I<br />
<h5>Bewijslast II (optioneel)</h5>
Toelichting bewijslast II<br />
<br />

<h3>Feedback</h3>
Feedback van bedrijfsbegeleider/collega<br />
<br />

<h3>Reflectie</h3>
Reflectie op feedback van bedrijfsbegeleider/collega<br />
•	Welke feedback heb je verkregen?<br />
•	Wat heb je van deze feedback geleerd?<br />
•	Wat heb je met de feedback gedaan?<br />
•	Wat zou je een volgende keer anders doen?<br />
•	Uiteraard kun je hier zelf verdere invulling aan geven in overleg met je stagedocent.<br />

<br />
@code {

}
