@page "/Leerdoelen/Analyseren/Requirementsanalyse"
<br />
<br />
<h1>Competentie II: Analyseren</h1>
<br />

<h2>Leerdoel 2: Requirementsanalyse </h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een requirementsanalyse uit te voeren voor een reporting engine met verschillende belanghebbenden.”</p>
<br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft de requirementsanalyse die ik heb uitgevoerd tijdens mijn stage. Dit heb ik samen met mede-stagiaire Wing Yee gedaan. We hebben ieder een lijst met 
    interviewvragen opgesteld en deze uiteindelijk samengevoegd. Vervolgens hebben we met de gecombineerde vragenlijst interviews gehouden om requirements te verzamelen en te 
    prioriteren met behulp van de MoSCoW methode. De requirements- en probleemanalyse zijn uiteindelijk samengevoegd in een requirementsanalyse document. Hieronder geef ik per 
    bovengenoemde taak een kort beschrijving.
</p>
<br />

<h5>Interviews</h5>
<p>
    Allereerst ben ik begonnen met het opstellen van interviewvragen. Hierbij hield ik rekening met het doel van de interviews 'wat moet ik minimaal weten na het gesprek?'. 
    De eerste paar vragen gaan over de huidige rapportagetool (Wat zijn de problemen? Welke functionaliteiten zou je terug willen zien in de nieuwe rapportagetool? Etc.). 
    Vervolgens gaan de vragen over de gewenste requirements voor de nieuwe rapportagetool (Welke functionaliteiten, die niet in de huidige rapportagetool zitten, zijn er gewenst? 
    Etc.). De opgestelde vragenlijst heb ik uiteindelijk gegroepeerd (zie Bijlage I). Uiteindelijk heb ik mijn vragen met de vragen van Wing Yee gecombineerd om te kijken welke vragen nog ontbraken (zie Bewijslast III). 
    <br /><br />
    Zodra de vragenlijst compleet was, zijn we begonnen met de interviews. De geïnterviewden zijn vier technische en twee minder technische medewerkers van Ranshuijsen BV die 
    ervaring hebben met de huidige rapportagetool van Ranshuijsen BV. De vier technische gebruikers hebben geholpen met de implementatie van de huidige rapportagetool van 
    Ranshuijsen BV of hebben veel kennis over de technische vereisten om een rapport op te stellen. We hebben ervoor gekozen om alleen vier technische gebruikers te interviewen, 
    omdat hun antwoorden over de problemen van de huidige rapportagetool en de wensen voor de nieuwe rapportagetool erg overeenkwamen. De twee minder technische medewerkers zijn 
    twee supportmedewerkers van Ranshuijsen BV. Zij maken vaak de rapporten voor de klanten van Ranshuijsen BV zelf, omdat het opstellen van een rapport met de huidige 
    rapportagetool van Ranshuijsen BV erg lastig is voor een persoon met weinig technische kennis. We hebben ervoor gekozen om alleen twee minder technische gebruikers te 
    interviewen, omdat we al snel begrepen wat de problemen zijn voor de minder technische gebruikers. Dankzij de antwoorden uit de interviews kregen we een goed beeld van de 
    problemen, wensen en eisen van de technische gebruikers en minder technische gebruikers.
    <br /><br />
    Tijdens de interviews heb ik met behulp van de 6W-methode vragen gesteld om later een probleemanalyse op te stellen (zie Bewijslast I). Voor het opstellen van een 
    probleemanalyse heb ik de 6W-methode gebruikt, zodat ik meer inzicht kreeg in de wensen van de klant (Swaen, 2017). Met de 6W-methode kan ik zien wat het probleem is, wat 
    de oorzaak is, wie er last van heeft, wanneer het probleem zich voor doet, waar het probleem zich voor doet en waarom het probleem is. Hierdoor weet ik waar ik op moet 
    letten tijdens het zoeken naar een oplossing. Andere methodes zoals het visgraatdiagram (Een visuele rangschikking van de mogelijke oorzaken van een probleem) of de 
    5W-methode (Wie, wat, waar, wanneer, waarom), vond ik minder geschikt omdat ze me minder informatie over het probleem gaven. De 5W-methode mist bijvoorbeeld een extra vraag 
    over wat de aanleiding van het probleem is en het visgraatdiagram zou me alleen de mogelijke oorzaken van het probleem visueel weergeven. 
</p>
<br />

<h5>Requirements opstellen</h5>
<p>
    De requirements die Wing Yee en ik met behulp van de antwoorden van de geïnterviewden hebben verzameld, zijn verdeeld tussen Functional en Non-Functional requirements. 
    We hebben voor Functional en Non-Functional requirements gekozen, omdat we soms nog moeite hebben met het opstellen van Functional en Non-Functional requirements en we wouden 
    graag onze kennis hierover in praktijk toepassen. Daarnaast geven Functional en Non-Functional requirements een duidelijk overzicht voor welke gebruiker een bepaalde 
    requirement is opgesteld en kunnen we deze requirement gemakkelijk prioriteren met behulp van de MoSCoW methode. We hebben ervoor gekozen om de MoSCoW methode te gebruiken 
    voor het prioriteren van requirements, omdat we dan eenvoudig kunnen zien welke requirements we af moeten hebben, op welke volgorde we de requirements af moeten hebben en 
    welke requirements we dit project niet af hoeven te hebben.
    <br /><br />
    Functional requirements beschrijven wat een systeem zou moeten doen en Non-Functional requirements beschrijven hoe het systeem de Functional requirements kan vervullen 
    (Martin, 2020). MoSCoW staat voor (Must)o(Should)(Could)o(Would) (Projectmanagementsite, 2018). <br />
</p>
     <p class="tab">•	Must-have requirements zijn requirements waaraan het systeem moet voldoen. Als een must-have requirement niet wordt behaald, is de oplevering of het project mislukt.</p>
     <p class="tab">•	Should-have is wanneer een requirement moet worden behaald, maar het resultaat mag enigszins afwijken.</p>
     <p class="tab">•	Could-have is wanneer een requirement een wens is. Je werkt aan de could-have requirements wanneer er nog tijd over is na het behalen van de must-have en should-have 
            requirements.</p>
     <p class="tab">•	Would-have is wanneer de requirements in dit project niet aan bod komen, maar kunnen interessant zijn bij een vervolgproject.</p>
     <br />
<p>
    Om de prioriteiten eenvoudig en snel te kunnen zien, hebben we achter de requirements een kolom gemaakt voor de kleuren om MoSCoW duidelijk te maken (zie Bewijslast II).
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    In de onderstaande afbeelding zie je de probleemanalyse die ik heb opgesteld voor de huidige rapportagetool van Ranshuijsen BV.<br /><br />
    <img src="images/Probleemanalyse.jpg" />
</p>
<br />
<br />
<h5>Bewijslast II</h5>
<p class="description">
    In het onderstaande document zie je de requirements die Wing Yee en ik heb opgesteld voor de nieuwe rapportagetool van Ranshuijsen BV.<br /><br />
    <div class="pdfviewer">
        <embed src="pdf/Requirements.pdf" style="height: 100vh; width: 100%;" />
    </div>
</p>
<br />
<br />
<h5>Bewijslast III</h5>
<p class="description">
    In het onderstaande document zie je welke vragen van Wing Yee kwamen en welke vragen van mij kwamen. De groen gemarkeerde vragen zijn uiteindelijk gekozen.<br /><br />
    <div class="pdfviewer">
        <embed src="pdf/Gecombineerde vragenlijst.pdf" style="height: 100vh; width: 100%;" />
    </div>
</p>
<br />
<br />
<h3>Feedback</h3>
<p class="description">
    Rim Ranshuijsen - De requirements analyse is gezien de complexiteit van het vraagstuk goed gegaan. Je had vrij snel een lijst met punten waaraan moest worden voldaan. Gaandeweg het project zijn 
    er wel nog een aantal kleine wijzigingen geweest, maar dat is in mijn ogen gebruikelijk. Met name de wijze waarop de vergelijking gemaakt kon worden was top.
</p>
<br />
<br />

<h3>Reflectie</h3>
<p class="description">
    Als feedback heb ik gekregen dat de requirementsanalyse erg goed was gegaan, ondanks de complexiteit van het vraagstuk. Al vrij snel had ik een lijst van de opgestelde 
    requirements waaraan de nieuwe rapportagetool van Ranshuijsen BV moest doen. Gedurende mijn stage waren er enkele kleine wijzingen geweest, maar dat is voor mijn stagebegeleider 
    Rim erg gebruikelijk. Daarnaast vond hij de wijze waarop de vergelijking tussen de rapportagetools en de opgestelde requirements gemaakt kon worden top. 
     <br /><br />
    Voor het opstellen van requirements heb ik mezelf geleerd om allereerst informatie te zoeken over rapportagetools, zodat ik een beter beeld had van wat een rapportagetool is 
    en wat je ermee kan doen. Tijdens het opstellen van de vragenlijst, had ik dan ook het gevoel dat ik wist waar ik het over had en kon ik rekening houden met verschillende 
    aspecten van een rapportagetool, zoals de prijsstructuur, functionaliteiten en soorten rapportagetools (zie Bewijslast III). De vragenlijst had ik daarom ook gegroepeerd per 
    aspect (zie Bijlage I). Zo leerde ik ook hoe een lange vragenlijst overzichtelijker kan worden gemaakt. In de toekomst zal ik dus eerst onderzoek doen over het onderwerp, 
    voordat ik de vragenlijst opstel. De vragen al ik vervolgens groeperen, zodat de vragenlijst overzichtelijker is en zodat de vragen op de juiste volgorde gesteld kunnen worden.
     <br /><br />
    Naast het opstellen van de vragenlijst, leerde ik ook meer over welke personen ik moet uitnodigen voor een interview. Er waren namelijk verschillende belanghebbenden (technische 
    en niet-technische gebruikers) voor dit project. Uit het eerste interview met de opdrachtgever, Rim, is gebleken dat de support medewerkers van Ranshuijsen BV veel rapportages 
    maken en dat een aantal developers van Ranshuijsen BV aan de huidige rapportagetool hebben gewerkt. Vervolgens heb ik deze personen uitgenodigd voor een interview en gaven zij 
    soms aan welke andere collega’s ook veel bij konden dragen aan het opstellen van de requirements. Zo leerde ik dat het ook handig kan zijn om mensen niet vanaf het begin al 
    uit te nodigen voor een interview, maar juist met behulp van de aanbevelingen van geïnterviewden. In de toekomst zal ik deze manier van belanghebbenden uitnodigen ook gebruiken, 
    aangezien de belanghebbenden dan ook beter weten waar ik het over heb (qua termen) en kunnen dan ook meer bijdragen aan de requirements.
     <br /><br />
    Verder heb ik ook geleerd hoe ik een probleemanalyse kan opstellen met behulp van de 6W-methode (zie Bewijslast I). Er zijn verschillende methodes voor het opstellen van een 
    probleemanalyse, maar ik heb geleerd om de juiste methode te kiezen op basis van hun doel. De 6W-methode was het meest geschikt, omdat het verschillende aspecten van een 
    probleem liet zien en niet alleen de mogelijke oorzaken (zoals het visgraatdiagram). De 5W-methode was een ander alternatief geweest, maar deze stelde geen vraag over de aanleiding 
    van het probleem. In de toekomst ben ik van plan om een andere methode te gebruiken voor een probleemanalyse, zodat ik kan leren om andere methodes, zoals het visgraatdiagram, 
    in de praktijk toe te passen.  
     <br /><br />
    Tijdens het verdelen van de opgestelde requirements tussen Functional en Non-Functional requirements, heb ik veel feedback op de Functional requirements gekregen. De meeste 
    feedbackpunten gingen over ‘wat wordt er met deze Functional requirement bedoeld’ en ‘deze Functional requirement is niet te meten’ (zie Bewijslast II). Samen met mijn 
    mede-stagiaire Wing Yee, heb ik de Functional requirements nog een keer aangepast, zodat de requirements duidelijker werden, en een aantal requirements verwijderd, omdat deze requirements niet 
    te meten waren. Vergeleken met de Functional requirements, waren er maar twee Non-Functional requirements, omdat er weinig vragen over 
    de performance van de nieuwe rapportagetool werden gesteld. De performance en beveiliging vielen namelijk buiten de scope van dit project. Ik heb geleerd om Functional en 
    Non-Functional requirements concreter op te schrijven en onnodige requirements, die niet te meten zijn, weg te laten. Na het verwerken van Rim’s feedback, bleef ik constant 
    om feedback vragen totdat ik zeker wist dat de requirements allemaal klopten. In de toekomst zou ik naast Functional en Non-Functional requirements, ook andere manieren willen 
    leren om requirements te onderscheiden. Dit lijkt me erg handig, mocht het bedrijf niet werken met Functional en Non-Functional requirements.
     <br /><br />
    De Functional en Non-Functional requirements heb ik geprioriteerd met behulp van de MoSCoW-methode (zie Bewijslast II). De meeste requirements kregen toen een must-have 
    prioriteit, waardoor we twijfelden of dat wel goed was. Echter heeft Rim de requirements doorgenomen en klopt het inderdaad dat de meeste requirements een must-have prioriteit 
    hebben. Ik heb niet iets nieuws over de MoSCoW-methode geleerd, aangezien ik er al twee jaar mee heb gewerkt. Wel zou ik voor de volgende keer een andere methode willen 
    gebruiken om requirements te prioriteren. Zo ken ik meer dan één methode om requirements te prioriteren en is het handiger, mocht het bedrijf met een andere methode werken.
     <br /><br />
    Zelf denk ik dat ik dit leerdoel heb behaald, omdat ik een requirementsanalyse voor de nieuwe rapportagetool van Ranshuijsen BV heb uitgevoerd. Hierbij heb ik rekening gehouden 
    met verschillende belanghebbenden. Mijn opdrachtgever is daarnaast tevreden met de opgestelde requirements lijst en de stappen die ik heb ondernomen om deze lijst op te stellen. 
    Ik heb zelf veel geleerd over hoe een interview voorbereid moet worden, het opstellen van een probleemanalyse en het verdelen van requirements tussen Functional en Non-Functional 
    requirements, die later zijn geprioriteerd met behulp van de MoSCoW-methode.
</p>
<br />
<br />

<h3>Literatuurlijst</h3>
<p class="apa-source">Martin, M. (2020, Februari 15). <i>Functional Requirements vs Non Functional Requirements:</i></p>
<p class="tab"><i>Differences.</i> Opgehaald van Guru99: https://www.guru99.com/functional-vs-non-functional-requirements.html </p>
<p class="apa-source">Projectmanagementsite. (2018, Juli 20). <i>MoSCoW.</i> Opgehaald van Projectmanagementsite:</p>
<p class="tab">https://projectmanagementsite.nl/moscow/</p>
<p class="apa-source">Swaen, B. (2017, April 4). <i>5w- en 6w-model.</i> Opgehaald van Scribbr:</p>
<p class="tab">https://www.scribbr.nl/modellen/5ws-6ws-afnemersanalyse/</p>
<br />
<br />
@code {

}
