@page "/Bijlagen/BijlageII"
<br />
<br />
<h1>Bijlage II: Tien belangrijkste richtlijnen</h1>

<p class="description">
    In het onderstaande document zie je de tien belangrijkste richtlijnen voor het ontwerpen van een database structuur.<br /><br />
    <div class="pdfviewer">
        <embed src="pdf/BijlageII.pdf" style="height: 100vh; width: 100%;" />
    </div>
</p>
<br />

@code {

}
