@page "/Leerdoelen/Realiseren/Nieuwe-technologie"
<br />
<br />
<h1>Competentie V: Realiseren</h1><br />

<h2>Leerdoel 8: Nieuwe technologie</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een nieuwe technologie te onderzoeken en te beheersen.”</p><br />

@code {

}
