@page "/Leerdoelen/Ontwerpen/ERD"
<br />
<br />
<h1>Competentie IV: Ontwerpen</h1><br />

<h2>Leerdoel 6: ERD</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een ontwerp op te stellen voor een database/databasewarehouse.”</p><br />

@code {

}
