@page "/Leerdoelen/Adviseren/Adviesrapport"
<br />
<br />
<h1>Competentie III: Adviseren</h1><br />

<h2>Leerdoel 4: Adviesrapport</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om advies te geven over een selectie van rapportagetools waarbij het kostenaspect een rol kan spelen.”</p><br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft het adviesrapport dat mijn mede-stagiaire Wing Yee en ik samen hebben geschreven tijdens onze stage. Nadat we klaar waren met de onderzoeksrapporten 
    en wisten welke rapportagetools aan de opgestelde criteria voldoen, zijn we Proof of Concepts gaan maken. Met behulp van de Proof of Concepts en een scoremodel, zijn we 
    uiteindelijk het adviesrapport gaan schrijven. Het adviesrapport geeft advies over welke rapportagetool uit het onderzoek het meest geschikt is voor Ranshuijsen BV. 
    Hieronder lees je meer over hoe we te werk zijn gegaan.
</p>
<br />

<h5>Proof of Concepts</h5>
<p>
    Uit mijn onderzoeksrapport bleek dat DevExpress, Bold Reports en Stimulsoft het meest geschikt zijn voor Ranshuijsen BV, omdat ze aan alle must have criteria voldeden. 
    Uit Wing Yee’s onderzoeksrapport bleek dat Telerik Reporting, ActiveReports en Seal Report aan de opgestelde criteria voldeden. Met deze zes rapportagetools zijn we 
    Proof of Concepts gaan maken om te kijken of ze ook echt aan de opgestelde criteria voldeden, aangezien we voor onze stageopdracht meerdere Proof of Concepts moeten 
    maken. Tijdens het maken van de Proof of Concepts bleek Seal Report niet geschikt te zijn, omdat het weinig documentatie beschikbaar heeft en je kan alleen hulp krijgen 
    via een forum waarbij je afhankelijk bent van andere Seal Report gebruikers. De overige vijf rapportagetools zijn in het adviesrapport verwerkt (zie Bewijslast I). 
    Om een duidelijk overzicht te hebben van de verschillen tussen de rapportagetools, heeft Rim ons de tip gegeven om een scoremodel te maken. Dit scoremodel is terug te 
    vinden in Bijlage I van het adviesrapport (zie Bewijslast I). Voor elke functionaliteit waaraan de rapportagetool voldoet, krijgt deze rapportagetool een aantal punten. 
    Dankzij het scoremodel kon al snel worden gezien welke rapportagetool het meest geschikt was voor Ranshuijsen BV. Zelf heb ik wat over DevExpress, Bold Reports, 
    Stimulsoft en het advies (conclusie) zelf geschreven. Wing Yee heeft bij de conclusie nog een prijsschema gemaakt, zodat je duidelijk de prijsverschillen tussen 
    DevExpress en Stimulsoft kan zien.
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    Hieronder zie je het adviesrapport dat Wing Yee en ik heb geschreven tijdens mijn stage.<br />
    <div class="pdfviewer">
        <embed src="pdf/Adviesrapport.pdf" style="height: 100vh; width: 100%;" />
    </div>
    <br />
    Hieronder zie je Rim's feedback op het adviesrapport.<br />
    <img src="images/FeedbackAdviesrapport.jpg" />
</p>
<br />
<br />

<h3>Feedback</h3>
<p class="description">
    Het advies was helder ondanks de kleine verschillen in het scoremodel van de laatst overgebleven tools. Ik heb het gevoel dat we de juiste keuze hebben kunnen 
    maken op basis van het advies.
</p>
<br />
<br />

<h3>Reflectie</h3>
<p class="description">
    Als feedback heb ik gekregen dat het advies helder was, ondanks de kleine verschillen in het scoremodel van de laatst overgebleven rapportagetools. 
    Dit scoremodel is terug te vinden in Bijlage I van het adviesrapport (zie Bewijslast I). Mijn opdrachtgever, Rim, heeft ook het gevoel dat de juiste 
    keuze kon worden gemaakt met behulp van het adviesrapport. 
    <br /><br />
    Voordat het adviesrapport kon worden opgesteld, hebben mijn mede-stagiaire Wing Yee en ik Proof of Concepts gemaakt van de meest geschikte rapportagetools. 
    Deze rapportagetools zijn volgens onze onderzoeksrapporten het meest geschikt voor Ranshuijsen BV (zie Leerdoel ‘Onderzoek’). Om de verschillen tussen de 
    POC’s duidelijk te kunnen zien, kregen we als tip van Rim om een scoremodel op te stellen. Voor elke functionaliteit waaraan de rapportagetool voldoet, 
    krijgt deze rapportagetool een aantal punten. Door deze punten bij elkaar op te tellen, is al snel te zien welke rapportagetool het meest geschikt was. 
    Het scoremodel vond ik erg handig tijdens het schrijven van het adviesrapport, omdat ik gemakkelijk kon zien welke rapportagetools aan de meeste must-have 
    requirements kon voldoen. Ik heb geleerd om een scoremodel op te stellen voor het vergelijken van rapportagetools. In de toekomst zal ik dit zeker nog een 
    keer gebruiken, aangezien het een duidelijk overzicht geeft van wat een rapportagetool wel of niet kan vergeleken met de andere rapportagetools.
    <br /><br />
    Verder heb ik ook nog geleerd om het adviesrapport op te stellen met behulp van de POC’s. Hierdoor kon ik zelf de verschillen tussen de functionaliteiten 
    van de rapportagetools ervaren en bestaat het niet alleen uit literatuuronderzoek. Dankzij het maken van de POC’s ontdekte ik soms ook dat bepaalde 
    functionaliteiten van een rapportagetool niet naar behoren werken voor Blazor. Ik heb dus geleerd dat het maken van POC’s erg handig is om functionaliteiten 
    te testen en de verschillen tussen de rapportagetools te ontdekken. In de toekomst zal ik voor het schrijven van een adviesrapport niet alleen 
    literatuuronderzoek doen, maar ook zelf de tools testen met bijvoorbeeld POC’s. 
    <br /><br />
    Zelf denk ik dat ik dit leerdoel heb behaald, omdat ik een adviesrapport heb opgesteld met een helder advies over welke rapportagetool het meest geschikt 
    is voor Ranshuijsen BV. Hierbij heb ik ook een prijsschema toegevoegd, zodat de prijzen tussen de rapportagetools ook vergeleken konden worden. Deze 
    prijsschema is terug te vinden in Bijlage II van het adviesrapport (zie Bewijslast I). Het adviesrapport is daarnaast opgesteld met behulp van POC’s en 
    een scoremodel, zodat het niet alleen gebaseerd is op literatuuronderzoek.
</p>
<br />
<br />
@code {

}
