@page "/Leerdoelen/Manage-en-Control/SVN"
<br />
<br />
<h1>Competentie I: Manage en control</h1><br />

<h2>Leerdoel 1: SVN</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om SVN te gebruiken als version control systeem.”</p><br />


<h3>Inleiding</h3><br />


<h3>Bewijs</h3><br />


<h3>Feedback</h3><br />


<h3>Reflectie</h3><br />

@code {

}
