@page "/Leerdoelen/Adviseren"

<h2>Competentie III: Adviseren</h2>
<h3>Leerdoel 4: Adviesrapport</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om advies te geven over een selectie van softwarecomponenten bij het ontwikkelen van een softwaresysteem waarbij 
    het kostenaspect een rol kan spelen.”</p><br />

@code {

}
