@page "/Leerdoelen/Analyseren"

<h2>Competentie II: Analyseren</h2>
<h3>Leerdoel 2: Requirementsanalyse </h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een requirementsanalyse uit te voeren voor een reporting engine met verschillende belanghebbenden.”</p><br />

<h3>Leerdoel 3: Onderzoek</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p><br />

@code {

}
