@page "/Leerdoelen/ManageEnControl"

<h2>Competentie I: Manage en control</h2>
<h3>Leerdoel 1: SVN</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om SVN te gebruiken als version control systeem.”</p><br />

@code {

}
