@page "/Leerdoelen/Ontwerpen"

<h2>Competentie IV: Ontwerpen</h2>
<h3>Leerdoel 5: UML-diagrammen</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een ontwerp op te stellen voor de gekozen reporting engine en maak hierbij gebruik van bestaande componenten 
    en libraries.”</p><br />

<h3>Leerdoel 6: ERD</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een ontwerp op te stellen voor een database/databasewarehouse.”</p><br />

@code {

}
