@page "/Leerdoelen/ProfessionalSkills"

<h2>Competentie VI: Professional Skills</h2>
<h3>Leerdoel 9: Werkwijze, regels en procedures</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om mezelf in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.”</p><br />

<h3>Leerdoel 10: Zelfstandigheid</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om werkzaamheden zelfstandig uit te voeren (inzet, motivatie, respect).”</p><br />

@code {

}
