@page "/Leerdoelen/Realiseren"

<h2>Competentie V: Realiseren</h2>
<h3>Leerdoel 7: Implementatie</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een reporting engine te implementeren conform de requirements van de opdracht en met kwaliteitsstandaarden 
    zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.”</p><br />

<h3>Leerdoel 8: Nieuwe technologie</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een nieuwe technologie te onderzoeken en te beheersen.”</p><br />

@code {

}
