<div class="nav-bar">
    <ul class="nav-items">
        <li class="nav-item">
            <a class="nav-link navbar-brand" href="">Wing Man's Portfolio</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdownbtn">
                    Introductie
                </a>
                <div class="dropdown-content">
                    <a class="nav-link" href="introductie">
                        Voorwoord
                    </a>
                    <a class="nav-link" href="introductie">
                        Inleiding
                    </a>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="stageplan">
                Stageplan
            </a>
        </li>
        <li class="nav-item">
            <div class="dropdown">
                <a class="nav-link dropdownbtn">
                    leerdoelen
                </a>
                <div class="dropdown-content">
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie I: Manage en control
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                SVN
                            </a>
                        </div>
                    </div>
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie II: Analyseren
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                Requirementsanalyse
                            </a>
                            <a class="nav-link" href="leerdoelen">
                                Onderzoek
                            </a>
                        </div>
                    </div>
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie III: Adviseren
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                Adviesrapport
                            </a>
                        </div>
                    </div>
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie IV: Ontwerpen
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                UML-diagrammen
                            </a>
                            <a class="nav-link" href="leerdoelen">
                                ERD
                            </a>
                        </div>
                    </div>
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie V: Realiseren
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                Implementatie
                            </a>
                            <a class="nav-link" href="leerdoelen">
                                Nieuwe technologie
                            </a>
                        </div>
                    </div>
                    <div class="second-layer">
                        <a class="nav-link" href="leerdoelen">
                            Competentie VI: Professional Skills
                        </a>
                        <div class="dropdown-content second-layer-content">
                            <a class="nav-link" href="leerdoelen">
                                Werkwijze, regels en procedures
                            </a>
                            <a class="nav-link" href="leerdoelen">
                                Zelfstandigheid
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="advies">
                Advies
            </a>
        </li>
    </ul>
</div>
