<div class="navbar">
    <ul class="nav-items">
        <li class="nav-item">
            <a class="navbar-brand" href="">Wing Man's Portfolio</a>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="introductie">
                Introductie
            </NavLink>
        </li>
    </ul>
</div>
