@page "/Introductie/Inleiding"
<br />
<br />
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
</head>
    <body>
        <h1>Introductie</h1>
        <br />

        <h2>Inleiding</h2>

        <p>
            Mijn naam is Wing Man Chung, 19 jaar oud en ik kom uit Gorinchem. Momenteel ben ik een derdejaars Informatica student aan de Hogeschool Rotterdam en loop ik een half jaar stage bij Ranshuijsen BV.
            Mijn doel hier is om meer werkervaring op te doen in het ICT werkveld zodat ik weet waar mijn interesses liggen en om mijn programmeerkennis uit te breiden.
        </p>
        <br />
        <h2>Ranshuijsen</h2>

        <p>
            Ranshuijsen BV is in 2009 opgericht door Rim Ranshuijsen met als
            doel om samen met hun klanten software te ontwikkelen die gebruikers nodig hebben om hun werk
            effici&euml;nt en met plezier te kunnen doen. Ze zijn klein gestart met een kantoor bij de Oude Haven in
            Rotterdam waar ze hun eerste personeelslid aannamen. Via een verhuizing naar de Veerhaven in
            2011 en de Witte de Withstraat in 2016 naar hun huidige kantoor op de Westblaak. In januari 2020 is
            Joel Smit als mede-eigenaar toegetreden tot het bedrijf. Inmiddels bestaat hun team uit 18 mensen,
            met allemaal dezelfde passie voor het ontwikkelen van mensvriendelijke software.

            De klanten van Ranshuijsen zijn de Buzinezzclub, Patz Portal, Veiligheidshuis Rotterdam-Rijnmond,
            RWV, stichting New Dutch Connections, Meesterbaan en DHL. Hieronder wordt per klant een korte
            beschrijving gegeven.
        </p>

        <h5>De Buzinezzclub</h5>

        <p>
            De Buzinezzclub had behoefte aan een digitale community waarin jongeren, coaches en betrokken
            organisaties met elkaar kunnen samenwerken voor het vinden van de juiste opleiding, baan of bij de
            start van een bedrijf.
            Patz Portal
            Patz Portal had behoefte aan een oplossing waarbij huisartsen met de wijkverpleging en consulenten
            voor palliatieve zorg intensief kunnen samenwerken en informatie met elkaar kunnen uitwisselen.
        </p>

        <h5>PGA</h5>

        <p>
            In het Veiligheidshuis Rotterdam-Rijnmond (VHRR) werken politie, het openbaar ministerie,
            gemeenten, Jeugdzorg, de Raad van de Kinderbescherming, Dienst Justiti&euml;le Inrichtingen,
            Reclassering Nederland en Jeugdbeschermingsplein met elkaar samen om recidive te voorkomen.
            Daarbij maken ze gebruik van de persoonsgerichte aanpak (PGA) methode voor de aanpak van
            overlastgevende personen of verdachten van strafbare zaken.
        </p>

        <h5>RWV</h5>
        <p>
            RWV Advocaten had behoefte aan gepersonaliseerde artikelen vanuit de kennisbank en inzage in de
            eigen dossiers om de kwaliteit van de dienstverlening te verbeteren voor de clienten. Daarnaast
            wouden ze dat nieuwe prospects en leads snel en eenvoudig als mogelijk inzichtelijk maken binnen
            de eigen organisatie, maar ook zo goed mogelijk inventariseren of ze waarde toe kunnen voegen
            voor deze clienten.
        </p>

        <h5>New Dutch Connections Clientvolgsysteem</h5>
        <p>
            Stichting New Dutch Connections inspireert en motiveert jonge (ex)vluchtelingen in Nederland
            waarbij hun situatie vaak uitzichtloos is. Alle betrokken mensen bij NDC werken digitaal samen in het
            Client Volg Systeem waarin medewerkers, coaches en maatjes van NDC samen met het
            (ex)vluchtelingen de voortgang bijhouden van de coaching, plannen van aanpak opstellen en ontstaat
            er grip op de situatie van de clienten.
        </p>

        <h5>Meesterbaan</h5>
        <p>
            Meesterbaan is het grootste vacature en kandidaten platform in het onderwijs in Nederland. Dit
            product lijkt als maar meer oplossing te bieden voor de vraag naar onderwijzend personeel.
            DHL Logistieke systemen
            DHL Sameday lever maatwerk aan klanten en partners waarbij iedere vraag weer anders is. Daardoor
            is het management en operationele proces steeds weer anders. Ranshuijsen maakt dit maatwerk
            mogelijk door maatwerk software oplossingen te bieden die naadloos aansluiten op het proces van
            DHL.
        </p>
        <br />
        <h2>Stageopdracht</h2>
        <p>
            Voor mijn stageopdracht moet ik een rapportagetool implementeren in &eacute;&eacute;n van de bestaande systemen van Ranshuijsen BV.
            Hiervoor zullen er meerdere Proof of Concepts voor worden gemaakt om de meest geschikte rapportagetool te vinden.
            Allereerst zal er vooronderzoek worden gedaan naar rapportagetools. Met de gevonden informatie, kunnen er interviews gehouden worden 
            om requirements te verzamelen. Zodra de requirements goedgekeurd zijn, wordt er een lijst opgesteld met rapportagetools die voldoen aan de requirements.
            Van de meest geschikte rapportagetools zullen er POC's worden gemaakt waarna er een adviesrapport wordt opgesteld. 
            Op basis van het opgestelde adviesrapport zal vervolgens de meest geschikte rapportagetool gekozen worden die in de Proof of Concept omgeving kan worden ge&iuml;mplementeerd;
            het CRM-systeem van Ranshuijsen BV ontwikkeld in Blazor en MVC.
        </p>
        <br />
        <h2>Leerdoelen</h2>
        <p>
            Hieronder vind je mijn tien opgestelde leerdoelen voor mijn derdejaarsstage. Per leerdoel geef ik een beschrijving over de leerdoel zelf, hoe het proces verliep, bewijsmateriaal voor de leerdoel, 
            feedback van mijn stagebegeleider Rim en mijn reflectie op de feedback, het proces van mijn leerdoel en wat ik zelf verder nog heb geleerd.
        </p>
        <dl>
            <dt>Competentie I: Manage en Control </dt>
                <dd class="dd-links"><a href="Leerdoelen/Manage-en-Control/SVN">SVN</a></dd>
            <dt>Competentie II: Analyseren</dt>
                <dd class="dd-links"><a href="Leerdoelen/Analyseren/Requirementsanalyse">Requirementsanalyse</a></dd>
                <dd class="dd-links"><a href="Leerdoelen/Analyseren/Onderzoek">Onderzoek</a></dd>
            <dt>Competentie III: Adviseren</dt>
                <dd class="dd-links"><a href="Leerdoelen/Adviseren/Adviesrapport">Adviesrapport</a></dd>
            <dt>Competentie IV: Ontwerpen</dt>
                <dd class="dd-links"><a href="Leerdoelen/Ontwerpen/UML-diagrammen">UML-diagrammen</a></dd>
                <dd class="dd-links"><a href="Leerdoelen/Ontwerpen/ERD">ERD</a></dd>
            <dt>Competentie V: Realiseren</dt>
                <dd class="dd-links"><a href="Leerdoelen/Realiseren/Implementatie">Implementatie</a></dd>
                <dd class="dd-links"><a href="Leerdoelen/Realiseren/Nieuwe-technologie">Nieuwe technologie</a></dd>
            <dt>Competentie VI: Professional Skills</dt>
                <dd class="dd-links"><a href="Leerdoelen/Professional-Skills/Werkwijze-regels-procedures">Werkwijze, regels en procedures</a></dd>
                <dd class="dd-links"><a href="Leerdoelen/Professional-Skills/Zelfstandigheid">Zelfstandigheid</a></dd>
        </dl>
        <br />
        <h2>Stageplan</h2>
        <p>
            Aan het begin van mijn stage heb ik een stageplan opgesteld. Hierin staat een beschrijving van het stagebedrijf, mijn stageopdracht, mijn leerdoelen en een globale planning. Later heb ik het nog aangepast op basis van de feedback van mijn stagedocent (Diana van Roon). 
            Klik <a class="redirect-link" href="stageplan">hier</a> om naar mijn verbeterde stageplan te gaan.
        </p>
        <br />
        <br />
    </body>
</html>