@page "/introductie/Voorwoord"
<br />
<br />
<h1>Introductie</h1><br />


<h2>Voorwoord</h2><br />

<p>
    Voor mijn derdejaarsstage loop ik een half jaar stage bij Ranshuijsen BV, gevestigd in Rotterdam Westblaak. Gedurende deze periode werk ik van maandag t/m vrijdag van 8:45 tot 17:00 uur op locatie.
    Tijdens mijn stage zal ik mijn eerste werkervaring in de ICT opdoen en mijn programmeerkennis uitbreiden. Op deze website vind je mijn stageplan, mijn tien opgestelde leerdoelen, de bewijsmaterialen
    voor de leerdoelen en de uiteindelijke feedback op mijn stage van mijn stagebegeleider Rim Ranshuijsen.
    <br /><br />
    Graag wil ik mijn stagebegeleider Rim Ranshuijsen, mijn (eerste) stagedocent Diana van Roon, mijn (tweede) stagedocent Lotte Muilwijk en mijn collega's bedanken voor hun feedback en hulp tijdens mijn stage.
    <br /><br />
    Gorinchem 27-9-2021
</p>

@code{

}