body {
    height: 100%;
}

h1, h2, h3, h5, p, dl, dt {
    color: white;
}

.description p{
    margin-bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
    width: auto;
}

/*@media screen and (min-width: 1074px) {
    img {
        width: 80%;
    }

@media screen and (max-width: 1074px){
    img{
        width: 100%;
    }
}*/