@page "/Leerdoelen/Professional-Skills/Werkwijze-regels-procedures"
<br />
<br />
<h1>Competentie VI: Professional Skills</h1>
<br />

<h2>Leerdoel 9: Werkwijze, regels en procedures</h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om mezelf in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.”</p>
<br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft de werkwijze, regels en procedures van Ranshuijsen BV die ik heb geleerd. Hieronder lees je meer over de verplichte informatiebeveiligingscursus 
    die ik moest volgen, de classificatie van documenten waar ik rekening mee hou in verband met beveiliging van bedrijfsgegevens en/of persoonsgegevens en ten slotte nog 
    over de bedrijfscultuur van Ranshuijsen BV.
</p>
<br />

<h5>Informatiebeveiligingscursus</h5>
<p>
    Ranshuijsen BV is ISO 27001 gecertificeerd en daarom moeten alle werknemers van Ranshuijsen BV verplicht een informatiebeveiligingscursus volgen (en een voldoende 
    hiervoor halen) zodat ze aan de ISO 27001 certificering voldoen. ISO 27001 is een norm op het gebied van informatiebeveiliging (NEN, z.d.). Het beschrijft hoe er 
    procesmatig met het beveiligen van informatie omgegaan kan worden, met als doel om de vertrouwelijkheid, beschikbaarheid en integriteit van informatie binnen de 
    organisatie zeker te stellen.
    <br /><br />
    De informatiebeveiligingscursus leert je over de regels, procedures en maatregelen (alles wat met informatie en beveiliging te maken heeft) van Ranshuijsen BV. Tijdens 
    de cursus komen de volgende onderwerpen aan bod; AVG, aanvaardbaarheid gebruik bedrijfsmiddelen, baseline informatiebeveiliging overheid (BIO), beheer bedrijfsmiddelen, 
    beveiliging bedrijfsvoering, classificatie en beveiligd delen van informatie, Clean Desk, Clear screen, ICT-beveiligingsrichtlijnen voor webapplicaties richtlijnen (2015), 
    informatie beveiligingsincidenten, procedure toegangsbeveiliging en hun wachtwoord beleid. Verder kon je ook 'Cyber chief magazine june 2021' en 'Ethical hacker ebook' 
    bekijken. Zelf heb ik de cursus afgerond met een voldoende voor alle bovengenoemde onderwerpen (zie Bewijslast I).
</p>
<br />

<h5>Classificatie</h5>
<p>
    De classificatie van de documenten van Ranshuijsen BV kunnen opgedeeld worden in de volgende niveaus:
    <br />
</p>
    <p class="tab">•	Publiek - Iedereen mag de documentatie lezen</p>
    <p class="tab">•	Vertrouwelijk - Alleen voor specifieke medewerkers of klanten van Ranshuijsen BV waar de informatie betrekking op heeft</p>
    <p class="tab">•	Intern - Alleen voor de medewerkers van Ranshuijsen BV of met externen (na akkoord van de directie)</p>
    <p class="tab">•	Directie - Alleen voor de directieleden</p>
    <br />
<p>
    Verder zijn er ook nog classificaties voor bedrijfsgegevens en persoonsgegevens. De classificatie voor bedrijfsgegevens gaat over de impact van schade van de systemen 
    mochten er bedrijfsgegevens gelekt worden. Bij niveau 1 is de impact van schade kleiner dan 500 euro, bij niveau 2 is er weinig tot geen impact op het bedrijf, bij niveau 
    3 kan er een impact van schade zijn van 1 miljoen euro of 15% van de omzet en bij het laatste niveau 4 kan een impact van schade de continuïteit van het bedrijf in gevaar brengen.
    <br /><br />
    De classificatie voor persoonsgegevens gaat over de persoonsgegevens die de systemen bevatten. Bij niveau 1 bevatten de systemen geen persoonsgegevens, bij niveau 2 bevatten 
    de systemen persoonsgegevens, bij niveau 3 bevatten de systemen persoonsgegevens inclusief bijzondere persoonsgegevens en bij niveau 4 bevatten de systemen persoonsgegevens 
    inclusief bijzondere persoonsgegevens en justitiële en/of medische gegevens.
    <br /><br />
    Zelf heb ik veel gewerkt met de classificatie van documenten (zie Bewijslast II). Mijn documenten zijn opgeslagen in de Synology Cloud Station, zodat anderen er makkelijk bij 
    kunnen mochten ze de documenten willen bekijken. Mocht mijn pc plotseling niet meer werken, dan zijn mijn documenten nog veilig opgeslagen en kan ik ze gemakkelijk terughalen. 
    De documenten in Synology Cloud Station worden opslagen met de volgende naamgeving:
    <br /><br />
    yymmdd [documentnaam] (bijv. 211026 mijn_eerste_document)
    <br /><br />
    De 'yymmdd' wordt steeds gewijzigd naar de laatste wijzigdatum van het document, zodat andere medewerkers eenvoudig en snel kunnen zien welk document up-to-date of aangepast is.
</p>
<br />

<h5>De bedrijfscultuur</h5>
<p>
    Tijdens mijn stage heb ik de bedrijfscultuur van Ranshuijsen BV leren kennen. Hieronder noem ik de kenmerken op van hun bedrijfscultuur die mij zijn opgevallen en geef ik 
    een korte beschrijving wat mij daaraan is opgevallen. Om te controleren of de medewerkers van Ranshuijsen BV de onderstaande kenmerken ook herkennen in de bedrijfscultuur van 
    Ranshuijsen BV, is er een enquête opgesteld (zie Bewijslast III). Ook is er gevraagd in hoeverre ze vinden dat ik me heb aangepast aan de bedrijfscultuur van Ranshuijsen BV. 
    De enquête bestaat uit een aantal open vragen, zodat de medewerkers zelf de mogelijkheid hebben om nog extra feedback toe te voegen. Drie van de vier respondenten werken al 
    bijna sinds het begin bij Ranshuijsen BV, dus zij zijn bekend met de bedrijfscultuur van Ranshuijsen BV. Uit hun antwoord is gebleken dat ze de onderstaande kenmerken herkennen 
    in de bedrijfscultuur van Ranshuijsen BV.
</p>
    <p class="tab">•	<b>Hartelijk en open sfeer</b> – Ranshuijsen BV heeft een vriendelijke werkomgeving waarbij je je altijd welkom voelt. In de ochtend groeten medewerkers elkaar, lunchen ze gezamenlijk en wensen ze elkaar een fijne avond wanneer ze naar huis gaan. In het begin was ik nog erg gespannen, omdat ik nog geen ervaring had met het bedrijfsleven. Echter nam iedereen de moeite om kennis met me te maken, waardoor ik me al snel op mijn gemak voelde.</p>
    <p class="tab">•	<b>Klantgericht</b> – Wanneer Rim ons iets vertelt over de klanten van Ranshuijsen BV of de producten die ze voor hen maken, merk ik dat hij een goede relatie heeft met de klanten, aangezien hij weet wat elke klant doet. Daarnaast zijn de klanten erg tevreden met de producten die Ranshuijsen BV voor hen maakt. Tijdens de wekelijkse meetings hoor ik ook vaak updates over verschillende klanten en merk ik dat de medewerkers veel contact hebben met klanten.</p>
    <p class="tab">•	<b>Resultaatgericht</b> – Dit merkte ik vooral op tijdens de wekelijkse meeting op maandag om 10:00 uur. De wekelijkse meetings beginnen meestal met een korte update over de aantal geopende en gesloten supporttickets. Het liefst willen ze dat er iedere week meer supporttickets zijn gesloten, dan geopend. Daarnaast merk ik ook tijdens de taakverdeling, dat er veel aandacht wordt besteed om taken op tijd af te ronden.</p>
    <p class="tab">•	<b>Eerlijk en open naar elkaar</b> – Tijdens feedback momenten heb ik gemerkt dat de medewerkers erg eerlijk en direct kunnen zijn, wat natuurlijk goed is. Er zijn mensen die hier minder goed tegen kunnen, maar de medewerkers van Ranshuijsen BV vatten dit niet verkeerd op en staan open voor feedback. </p>
    <p class="tab">•	<b>Weinig ‘hiërarchie’</b> – De oprichter, mede eigenaar en medewerkers lunchen gezamenlijk en iedereen spreekt elkaar aan met ‘je’ in plaats van u. In het begin sprak ik de medewerkers met ‘u’ aan, maar ze vertelden me meteen om hen met ‘je’ aan te spreken.</p>
    <p class="tab">•	<b>Nauw betrokken en teamwerk</b> – Tijdens de wekelijkse meeting op maandag, waar alle medewerkers van Ranshuijsen BV aanwezig zijn, krijgt iedereen te zien aan welke taken hij of zij deze week zit. Zo weet iedereen wie aan welke taken werkt en wie met elkaar samen moeten werken om een taak af te ronden. Als stagiair ben ik niet bekend met de producten van Ranshuijsen BV, maar Rim laat me tijdens voortgangsmeetings altijd hun product(en) zien (wanneer het nodig is voor zijn uitleg) en legt daarbij goed uit hoe een bepaalde functionaliteit werkt.</p>
    <p class="tab">•	<b>Welzijn</b> – Vooral nu is het belangrijk dat er rekening gehouden moet worden met het welzijn van medewerkers. Rim houdt daar dan ook goed rekening mee en laat medewerkers zelf kiezen of ze thuis of op kantoor willen werken. Om de paar weken vraagt Rim wel eens of ik het nog leuk vind, zodat hij weet hoe het met mij gaat.</p>
    <p class="tab">•	<b>Zorgzaam</b> – Iedereen is erg zorgzaam voor elkaar. Er is kort geleden nog een Teams kanaal genaamd ‘koffietijd’ aangemaakt, waarbij collega’s toch nog met elkaar gezellig kunnen doen aangezien sommigen vaak thuiswerken.</p>
    <p class="tab">•	<b>Leren en groeien</b> – Je kan veel van elkaar leren en ik merk dat er veel moeite wordt gestoken om collega’s iets te laten leren en hun kennis te laten groeien. Rim benadrukt ook duidelijk dat het belangrijk is dat we tijdens onze stage ook echt dingen doen waar we iets van leren. Bijvoorbeeld het maken van een aantal datacontainers met veel variatie in plaats van heel veel datacontainers met weinig variatie.</p>
<br />


<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    In de onderstaande afbeelding zie je dat ik de informatiebeveiligingscursus succesvol heb afgerond.<br /><br />
    <img src="images/Informatiebeveiligingscursus.jpg" />
</p>
<br />
<br />

<h5>Bewijslast II</h5>
<p class="description">
    In de onderstaande afbeelding zie je de naamgeving van mijn documenten. Aan de rechterkant (waar de rode pijl naartoe wijst) zie je een template voor de documenten van 
    Ranshuijsen BV. Je kan hier de classificatie aangeven waardoor medewerkers meteen weten of ze het document mogen bekijken of niet.<br /><br />
    <img src="images/Classificatiedocumenten.jpg" />
</p>
<br />
<br />

<h5>Bewijslast III</h5>
<p class="description">
    In de onderstaande afbeelding vind je de antwoorden van de respondenten (van de opgestelde enquête) over de bedrijfscultuur van Ranshuijsen BV en in hoeverre ik me heb aangepast aan hun bedrijfscultuur.<br /><br />
    <img src="images/EnqueteBedrijfscultuur.jpg" />
</p>
<br />
<br />

<h3>Feedback</h3>
<p class="description">
    Rim Ranshuijsen - Ik heb altijd het gevoel gehad dat je begrepen hebt waarom wij onze regels en procedures hebben en deze zijn ook nageleefd. Ik kan alleen maar meegeven dat je waar je ook 
    komt te werken altijd moet werken conform de omgeving waarin je opereert, zeker als dit om security gaat. Ik verwacht dat dat voor jou nooit een probleem zal worden.
</p>
<br />
<br />

<h3>Reflectie</h3>
<p class="description">
    Als feedback heb ik gekregen dat ik de regels en procedures van Ranshuijsen BV heb begrepen en nageleefd. In de toekomst verwacht Rim, wat betreft het werken conform de 
    omgeving waarin ik opereer, geen probleem voor me zal worden.
    <br /><br />
    Aan het begin van mijn stage, moest ik een informatiebeveiligingscursus volgen. Deze heb ik succesvol afgerond (zie Bewijslast I). Ik heb hiervoor nooit bij een bedrijf 
    gewerkt waar ik rekening moest houden met informatiebeveiliging, dus de ISO 27001 certificering en de classificatie van documenten waren nieuw voor me. Dankzij de 
    informatiebeveiligingscursus leerde ik echter al snel wat de ISO 27001 certificering inhoudt en waarom de classificatie van documenten van belang is. Tijdens mijn stage 
    heb ik geleerd om gebruik te maken van het template document van Ranshuijsen BV voor het opstellen van nieuwe documenten (zie Bewijslast II). Bij het openen van zo’n 
    document ziet iedereen dan meteen wat de classificatie van het document is en weten ze of ze het document nog mogen bekijken.
    <br /><br />
    Naast de regels en procedures, heb ik ook veel geleerd over de bedrijfscultuur van Ranshuijsen BV. Om te kijken of mijn opgestelde kenmerken over de bedrijfscultuur van 
    Ranshuijsen BV wel kloppen en hoe ik me daar op heb aangepast, is er een enquête opgesteld. Hieruit is gebleken dat de opgestelde kenmerken overeenkomen met de 
    bedrijfscultuur van Ranshuijsen BV in hun gedachten. Ze vinden ook dat ik goed bij hun bedrijfscultuur pas, alleen mag ik wel wat socialer zijn. Ik ben er zeker mee eens 
    dat ik wat socialer had kunnen zijn, door bijvoorbeeld in de pauzes niet door te werken. Voor de volgende keer zal ik naast het focussen op mijn stage, ook tijd vrijmaken 
    om wat socialer te zijn met collega’s.
    <br /><br />
    Zelf vind ik dat ik dit leerdoel heb behaald, omdat ik me aan de werkwijze, regels en procedures van Ranshuijsen BV heb gehouden. Daarnaast is er ook uit de enquête 
    gebleken dat andere medewerkers van Ranshuijsen BV vinden dat ik me goed heb aangepast, op open sfeer na. In de toekomst zal ik daar echter meer rekening mee houden.
</p>
<br />
<br />

<h3>Literatuurlijst</h3>
<p class="apa-source">NEN. (z.d.). <i>Informatiebeveiliging (ISO 27001).</i> Opgehaald van NEN:</p>
<p class="tab">https://www.nen.nl/ict/digitale-ehtiek-en-veiligheid/cyber-privacy/informatiebeveiliging</p>
<br />
<br />
@code {

}
