@page "/Leerdoelen/Professional-Skills/Werkwijze-regels-procedures"
<br />
<br />
<h1>Competentie VI: Professional Skills</h1>
<br />

<h2>Leerdoel 9: Werkwijze, regels en procedures</h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om mezelf in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.”</p>
<br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft de werkwijze, regels en procedures van Ranshuijsen BV die ik heb geleerd. In de eerste week van mijn stage heb ik hun informatiebeveiligingscursus en onboarding program gevolgd.
    Elke maandag neem ik deel aan de wekelijkse meeting van 10:00 tot 10:15 uur op Microsoft Teams en noteer ik mijn uren in het logboek van hun CRM-systeem. Hieronder geef ik per werkwijze, regel of procedure een korte beschrijving.
</p>
<br />

<h5>Weekstart</h5>
<p>
    Wekelijks vindt er op maandag een meeting plaats van 10:00 tot 10:15 uur op Microsoft Teams waarbij alle werknemers aanwezig zijn.
    Tijdens de meeting worden de sales van de afgelopen week besproken, hoeveel tickets er zijn bijgekomen of weggewerkt, de planning
    voor de komende week (wie werkt aan welk project) en eventueel bijzonderheden (wie gaan er op vakantie, wie komen er terug van vakantie en wie zijn er allemaal afwezig).
</p>
<br />

<h5>Informatiebeveiligingscursus</h5>
<p>
    Ranshuijsen BV is ISO 27001 gecertificeerd en daarom moeten alle werknemers van Ranshuijsen BV verplicht een informatiebeveiligingscursus volgen (en een voldoende hiervoor halen)
    zodat ze aan de ISO 27001 certificering voldoen. ISO 27001 is een norm op het gebied van informatiebeveiliging. Het beschrijft hoe er procesmatig met het beveiligen van informatie omgegaan kan worden,
    met als doel om de vertrouwelijkheid, beschikbaarheid en integriteit van informatie binnen de organisatie zeker te stellen.<br />
    <br />
    De informatiebeveiligingscursus leert je over de regels, procedures en maatregelen (alles wat met informatie
    en beveiliging te maken heeft) van Ranshuijsen BV. Tijdens de cursus komen de volgende onderwerpen aan bod; AVG, aanvaardbaarheid gebruik bedrijfsmiddelen, baseline
    informatiebeveiliging overheid (BIO), beheer bedrijfsmiddelen, beveiliging bedrijfsvoering, classificatie en beveiligd delen van informatie, Clean Desk, Clear screen,
    ICT-beveiligingsrichtlijnen voor webapplicaties richtlijnen (2015), informatie beveiligingsincidenten, procedure toegangsbeveiliging en hun wachtwoord beleid.
    Verder kon je ook 'Cyber chief magazine june 2021' en 'Ethical hacker ebook' bekijken. Zelf heb ik de cursus afgerond met een voldoende voor alle bovengenoemde onderwerpen (zie Bewijslast I).
</p>
<br />

<h5>Onboarding program</h5>
<p>
    De onboarding program van Ranshuijsen beschrijft de inrichting van je eigen werkplek. Er wordt beschreven welke software geïnstalleerd moeten worden, hoe je PC ingesteld moet worden, hoe je met hun cloud (Synology Cloud Station Drive)
    verbinding kan maken en hoe KeePass (voor het bewaren van al je wachtwoorden) werkt. Daarnaast legt de onboarding program uit hoe de email templates, de urenregistratie en het ticket-systeem werkt.
</p>
<br />

<h5>Urenregistratie</h5>
<p>
    De werknemers van Ranshuijsen BV kunnen hun uren registreren via het logboek in hun CRM-systeem of door een taak te starten in hun takenlijst. Het logboek heeft een terugwerkende kracht van 7 dagen, mocht je de uren later nog willen aanpassen. 
    Verder kan je de taken in je logboek koppelen aan een project of andere activiteiten zoals onder andere stage voor school, reistijd en pauze en lunch.
    <br /><br />
    De takenlijst van hun CRM-systeem werkt met de prince2 principe. Je kan namelijk je project 'breakdownen' in meerdere kleinere taken en aangeven hoeveel uur je denkt ermee bezig te zullen zijn. Met behulp van een Gantt Chart heb ik een duidelijk 
    overzicht gegeven van mijn (project)voortgang en of ik meer of minder uren heb besteed dan de verwachte aantal uren voor een bepaalde taak.
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">In de onderstaande afbeelding zie je dat ik de informatiebeveiligingscursus succesvol heb afgerond.</p>
<img src="images/Informatiebeveiligingscursus.jpg" />
<br />
<h5>Bewijslast II (optioneel)</h5>
<p class="description">Toelichting bewijslast II</p>
<br />
<br />

<h3>Feedback</h3>
Feedback van bedrijfsbegeleider/collega
<br />
<br />

<h3>Reflectie</h3>
Reflectie op feedback van bedrijfsbegeleider/collega
<br />
•	Welke feedback heb je verkregen?
<br />
•	Wat heb je van deze feedback geleerd?
<br />
•	Wat heb je met de feedback gedaan?
<br />
•	Wat zou je een volgende keer anders doen?
<br />
•	Uiteraard kun je hier zelf verdere invulling aan geven in overleg met je stagedocent.
<br />

<br />
@code {

}
