@page "/Leerdoelen/Professional-Skills/Werkwijze-regels-procedures"
<br />
<br />
<h1>Competentie VI: Professional Skills</h1>
<br />

<h2>Leerdoel 9: Werkwijze, regels en procedures</h2>
<br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om mezelf in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.”</p><br />

<h3>Inleiding</h3>

•	Maximaal ½ A4 per leerdoel<br />
•	Voor elk leerdoel per competentie een inleiding, waarin je uitlegt;<br />
o	Wat je bewijslast precies inhoudt<br />
o	Welke stappen je hebt genomen om hiertoe te komen/welk leerproces je hebt doorgemaakt<br />
o	Wat je ervan hebt geleerd<br />
<br />

<h5>Weekstart</h5>
<p>
    Wekelijks vindt er op maandag een meeting plaats van 10:00 tot 10:15 uur op Microsoft Teams waarbij alle werknemers aanwezig zijn.
    Tijdens de meeting worden de sales van de afgelopen week besproken, hoeveel tickets er zijn bijgekomen of weggewerkt, de planning
    voor de komende week (wie werkt aan welk project) en eventueel bijzonderheden (wie gaan er op vakantie, wie komen er terug van vakantie en wie zijn er allemaal afwezig).
</p>
<br />

<h5>Informatiebeveiligingscursus</h5>
<p>
    Ranshuijsen BV is ISO27001 gecertificeerd en daarom moeten alle werknemers van Ranshuijsen BV verplicht een informatiebeveiligingscursus volgen (en een voldoende hiervoor halen) 
    zodat ze aan de ISO27001 certificering voldoen. ISO27001 is een norm op het gebied van informatiebeveiliging. Het beschrijft hoe er procesmatig met het beveiligen van informatie omgegaan kan worden, 
    met als doel om de vertrouwelijkheid, beschikbaarheid en integriteit van informatie binnen de organisatie zeker te stellen.<br />
    <br />
    De informatiebeveiligingscursus leert je over de regels, procedures en maatregelen (alles wat met informatie 
    en beveiliging te maken heeft) van Ranshuijsen BV. Tijdens de cursus komen de volgende onderwerpen aan bod; AVG, aanvaardbaarheid gebruik bedrijfsmiddelen, baseline 
    informatiebeveiliging overheid (BIO), beheer bedrijfsmiddelen, beveiliging bedrijfsvoering, classificatie en beveiligd delen van informatie, Clean Desk, Clear screen, 
    ICT-beveiligingsrichtlijnen voor webapplicaties richtlijnen (2015), informatie beveiligingsincidenten, procedure toegangsbeveiliging en hun wachtwoord beleid. 
    Verder kon je ook 'Cyber chief magazine june 2021' en 'Ethical hacker ebook' bekijken. Zelf heb ik de cursus afgerond met een voldoende voor alle bovengenoemde onderwerpen (zie Bijlage I).
</p>
<br />

<h5>Onboarding program</h5>
-	Alle software installeren<br />
-	PC instellen<br />
-	Cloud Synology<br />
-	KeePass<br />
<p>
    De onboarding program van Ranshuijsen 
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
Toelichting bewijslast I<br />
<h5>Bewijslast II (optioneel)</h5>
Toelichting bewijslast II<br />
<br />

<h3>Feedback</h3>
Feedback van bedrijfsbegeleider/collega<br />
<br />

<h3>Reflectie</h3>
Reflectie op feedback van bedrijfsbegeleider/collega<br />
•	Welke feedback heb je verkregen?<br />
•	Wat heb je van deze feedback geleerd?<br />
•	Wat heb je met de feedback gedaan?<br />
•	Wat zou je een volgende keer anders doen?<br />
•	Uiteraard kun je hier zelf verdere invulling aan geven in overleg met je stagedocent.<br />

<br />
@code {

}
