@page "/Leerdoelen/Professional-Skills/Zelfstandigheid"
<br />
<br />
<h1>Competentie VI: Professional Skills</h1><br />

<h2>Leerdoel 10: Zelfstandigheid</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om werkzaamheden zelfstandig uit te voeren (inzet, motivatie, respect).”</p><br />

@code {

}
