@page "/Leerdoelen/Professional-Skills/Zelfstandigheid"
<br />
<br />
<h1>Competentie VI: Professional Skills</h1><br />

<h2>Leerdoel 10: Zelfstandigheid</h2><br />

<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om zelfstandig taken op te stellen, taken uit te voeren en feedback te vragen.”</p><br />

<h3>Inleiding</h3>
<p>
    Deze pagina beschrijft mijn zelfstandigheid tijdens mijn stage. Aangezien ik voor het eerst ging stagelopen bij een IT-bedrijf, wilde ik graag leren om in de praktijk zelfstandig 
    aan een opdracht te kunnen werken. Zo weet ik wat ik allemaal zelf aan kan en waar ik nog hulp nodig heb van collega's. Daarnaast leerde ik om de opdracht in meerdere taken te splitsen, 
    waardoor het uitvoeren van de taken eenvoudiger werd. Om zeker te weten dat mijn opgeleverde werk aan de eisen van Ranshuijsen BV voldoet, heb ik voortdurend feedback gevraagd en verwerkt. 
    Zo leerde ik ook naar de wensen van andere te luisteren. Hieronder lees je meer over hoe ik taken heb opgesteld, uitgevoerd en feedback heb gevraagd.
</p>
<br />

<h5>Taken opstellen</h5>
<p>
    Voor het opstellen van taken heb ik geleerd om een Gantt Chart en product breakdown te maken, zodat de grote taken in kleinere taken kunnen worden verdeeld 
    en om te kijken hoelang deze taken zullen duren. Vervolgens heb ik gebruik gemaakt van de takenlijst in het CRM-systeem van Ranshuijsen om de status van de 
    taken weer te geven en om te kijken of de uren die ik aan een taak heb besteed overeenkomt met der verwachtte aantal uren. Aangezien mijn mede-stagiaire 
    Wing Yee en ik aan dezelfde opdracht werken, hebben we de meeste taken samen opgesteld. Voor sommige grote taken zoals requirementsanalyse en Proof of Concepts 
    maken, heb ik zelf nog een aantal kleinere taken opgesteld. Zo maakte ik voor de requirementsanalyse een probleemanalyse en voegde ik de rapportagetools 
    waar ik een Proof of Concept mee zou maken toe aan de Proof of Concepts taak. In de Gantt Chart hebben Wing Yee en ik daarom ook een aparte kolom gemaakt 
    zodat ieder haar eigen verwachtte en besteedde uren kon invullen (zie Bewijslast I).
</p>
<br />

<h5>Taken uitvoeren</h5>
<p>
    Vanaf het begin van mijn stage heb ik als tip van mijn stagebegeleider gekregen dat ik moet leren om op het juiste moment een vraag te stellen. Allereerst 
    neem ik zelf het initiatief om het antwoord online te vinden en mocht ik het dan nog niet weten, vraag ik een van de developers van Ranshuijsen BV om hulp. 
    Als ik ze persoonlijk een vraag wil stellen, zoek ik ze vaak tijdens de pauze op of wanneer ze niet al te geconcentreerd achter hun computer zitten, zodat 
    ik ze niet uit hun concentratie haal. Mocht ik niet zeker weten of iemand tijd voor me heeft, dan stuur ik ze een berichtje via Microsoft Teams waar ze me 
    dan hulp aanbieden zodra ze klaar zijn met hun taak.
    <br /><br />
    Voor mij werken deze stappen voordat ik een vraag stel erg goed. Natuurlijk kan ik de developers altijd om hulp vragen, maar dankzij deze stappen leer ik ook om 
    zelfstandig een antwoord te vinden. Vaak leer ik dan ook nieuwe dingen als ik een antwoord online op zoek. Zo begreep ik eerst niet wat subcomponenten waren of 
    hoe StateHasChanged() werkt, maar door een aantal artikelen en voorbeelden online door te nemen, wist ik al snel hoe deze werken.
    <br /><br />
    Ondanks dat Wing Yee en ik aan dezelfde stageopdracht werken, voeren we de meeste taken zelfstandig uit. Zo schrijven we bijvoorbeeld beide een stuk tekst voor de 
    samenvatting van het adviesrapport en vergelijken we vervolgens onze teksten om te kijken welke goede toevoegingen we ieder hebben. Uiteindelijk combineren we de 
    teksten en gebruiken we de gecombineerde tekst bijvoorbeeld voor de samenvatting van het adviesrapport.
</p>
<br />

<h5>Feedback vragen</h5>
<p>
    Tijdens het uitvoeren van een taak, neem ik wel eens het initiatief om feedback te vragen zodat ik weet dat ik de goede kant op ga (zie Bewijslast II). 
    Afhankelijk van waar ik feedback op wil, bepaal ik of de persoon persoonlijk of via Microsoft Teams/Outlook benader. Voor documenten met veel tekst vraag ik vaak 
    via Outlook om feedback, zodat ze hun tijd kunnen nemen om de documenten te lezen voordat ze hun feedback geven. Voor kleinere taken, zoals een UML-diagram of
    mockup, vraag ik vaak persoonlijk feedback. Voor documenten vraag ik vaak Rim om feedback, aangezien een adviesrapport bijvoorbeeld meer geschreven is voor Rim,
    de opdrachtgever. Voor mockups en andere ontwerp gerelateerde taken, vraag ik feedback aan de twee designer van Ranshuijsen BV. Voor code review en andere technisch 
    gerelateerde onderwerpen, vraag ik vaak feedback aan Paul, aangezien hij veel met CRM werkt en veel technische kennis heeft. Afhankelijk van hun expertise, vraag ik 
    dus mensen om feedback. Zodra ik de feedback heb verwerkt, vraag ik nog eens om feedback aan dezelfde persoon om te bevestigen dat ik de feedback goed heb begrepen. 
    Door constant feedback te blijven vragen, weet mijn stagebegeleider waar Wing Yee en ik mee bezig zijn en krijgen we niet op het einde te horen dat we bijvoorbeeld 
    een document opnieuw moeten schrijven.  
</p>
<br />

<h5>Enquête</h5>
<p>
    Om te kijken in hoeverre de medewerkers van Ranshuijsen BV vinden dat ik zelfstandig heb gewerkt, feedback heb gevraagd, feedback heb verwerkt, taken heb opgepakt 
    en taken heb uitgevoerd, is er een enquête opgesteld. De enquête bestaat uit een aantal open vragen, zodat de medewerkers zelf de mogelijkheid hebben om nog extra 
    feedback toe te voegen (zie Bewijslast III).
</p>
<br />

<h3>Bewijs</h3>

<h5>Bewijslast I</h5>
<p class="description">
    In de onderstaande afbeelding zie je de Gantt Chart die Wing Yee en ik samen hebben gemaakt.<br /><br />
    <img src="images/GanttChart.jpg" />
    <br /><br />
    In de onderstaande afbeelding zie je de tussentijdse feedback van Rim op onze Gantt Chart.<br /><br />
    <img src="images/FeedbackGanttChart.jpg" />
</p>
<br />
<br />

<h5>Bewijslast II</h5>
<p class="description">
    In de onderstaande afbeeldingen zie je mailwisselingen en chatgesprekken tussen medewerkers van Ranshuijsen en mij waarin ik om feedback vraag of vragen stel om mijn kennis 
    uit te breiden.<br /><br />
    <img src="images/FeedbackVragen1.jpg" /><br /><br />
    <img src="images/FeedbackVragen2.jpg" /><br /><br />
    <img src="images/FeedbackVragen3.jpg" />
</p>
<br />
<br />

<h5>Bewijslast II</h5>
<p class="description">
    In de onderstaande afbeelding vind je de antwoorden van de respondenten (van de opgestelde enquête) over mijn zelfstandigheid, hoe ik feedback heb gevraagd, feedback heb 
    verwerkt, taken heb opgepakt en taken heb uitgevoerd.<br /><br />
    <img src="images/EnqueteZelfstandigheid.jpg" />
</p>
<br />
<br />

<h3>Feedback</h3>
<p class="description">
    Rim Ranshuijsen - Ondanks mijn initiële twijfel over of het verstandig was om twee stagiaires aan dezelfde opdracht te laten werken heb ik altijd het gevoel gehad dat jullie als individuen de 
    resultaten hebben behaald. Samen gingen jullie zeker sneller, omdat je nu eenmaal met twee mensen meer kunt overleggen en dat is het resultaat ten goede gekomen, maar ik ben 
    er van overtuigd dat je alleen ook een prima resultaat had neergezet.
</p>
<br />
<br />

<h3>Reflectie</h3>
<p class="description">
    Als feedback heb ik gekregen dat mijn mede-stagiaire Wing Yee en ik, als individuen de resultaten hebben behaald. Samen gingen we een stuk sneller, omdat we nou eenmaal meer 
    kunnen overleggen, maar ook in mijn eentje zou ik een prima resultaat hebben neergezet.
    <br /><br />
    Voor het opstellen van taken heb ik van Rim geleerd om een Gantt Chart en product breakdown te gebruiken (zie Bewijslast I). Hierbij hebben mijn mede-stagiaire Wing Yee en ik 
    in de Gantt Chart de verwachtte en daadwerkelijke uren voor een taak toegevoegd, zodat we konden zien of we op schema waren en welke taken meer tijd kostte, zodat we in de 
    toekomst daar rekening mee kunnen houden. Ik vond deze manier van taken opstellen en de voortgang bijhouden erg handig, omdat het alles laat zien wat ik nodig heb voor het 
    bijhouden van mijn voortgang. De verwachtte en daadwerkelijke uren waren duidelijk genoteerd, de voortgang van de taken zijn overzichtelijk aangegeven met vinkjes, kleuren en 
    kruisjes en er kon worden gezien wanneer er aan een leerdoel gewerkt kon worden. Ik heb veel geleerd over het maken van een Gantt Chart en zal deze zeker in de toekomst nog 
    blijven gebruiken.
    <br /><br />
    Uit de enquête is gebleken dat ik goed zelfstandig kan werken, feedback vraag wanneer het nodig is en deze feedback ook heb verwerkt (zie Bewijslast III). Verder zijn ze onder 
    de indruk het werk dat ik heb opgeleverd en mijn inzet tijdens mijn stage. Echter heb ik wel als feedback gekregen om socialer te zijn. Hier ben ik het zeker mee eens, 
    aangezien ik een aantal antwoorden kreeg waarbij die persoon me niet goed genoeg kende om die vraag te beantwoorden. Ik heb geleerd dat ik naast hard werken ook socialer moet 
    zijn, zodat collega’s die minder met mij werken, ook een idee hebben van wat ik aan het doen ben. In de toekomst zal ik daarom socialer te zijn en niet 
    alleen focussen op het behalen van mijn stageopdracht.
    <br /><br />
    Zelf vind ik dat ik dit leerdoel heb behaald, omdat ik zelfstandig heb gewerkt, taken heb opgesteld, uitgevoerd en feedback heb gevraagd. Dit blijkt ook uit de antwoorden van 
    de respondenten (zie Bewijslast III). Daarnaast heb ik veel geleerd over de Gantt Chart en hoe ik deze moet gebruiken. 
</p>
<br />
<br />
@code {

}
