@page "/advies"
<br />
<br />
<h1>Advies</h1><br />

<MudGrid>
    <MudItem xs="3" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Naam student</p></MudPaper>
    </MudItem>
    <MudItem xs="3" Style="padding: 6px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><p class="description">Wing Man Chung</p></MudPaper>
    </MudItem>
    <MudItem xs="3" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Studentnummer</p></MudPaper>
    </MudItem>
    <MudItem xs="3" Style="padding: 6px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><p class="description">0991406</p></MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Advies bedrijfsbegeleider</p></MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                De student wordt beoordeeld op de zelf opgestelde leerdoelen passend bij de competenties binnen Informatica, 
                die ze in hun portfolio dienen weer te geven. Als u kijkt naar zijn/ haar werkzaamheden en het portfolio, 
                hoe zou u dan onderstaande beoordelen? U kunt per onderdeel een onvoldoende/ matig/ voldoende/ 
                goed invullen met hierbij uw argumentatie. Uw input wordt gezien als een belangrijk advies. 
            </p></MudPaper>
    </MudItem>
</MudGrid>
<br /><br /><br />
<MudGrid>
    @*Columns*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Competentie</p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>O/M/V/G</p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Onderbouwing</p></MudPaper>
    </MudItem>
    @*Manage and control*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: #cb7f00;"><p>Manage en control</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Analyseren*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: brown;"><p>Analyseren</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Adviseren*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: cornflowerblue;"><p>Adviseren</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Ontwerpen*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: darkorchid;"><p>Ontwerpen</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Realiseren*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: sienna;"><p>Realiseren</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Professional Skills*@
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname" Height="0" Style="background-color: darksalmon;"><p>Professional Skills</p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    @*Fields*@
    <MudItem xs="5" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname">
        <p class="description">
           Student vult hier zijn/haar eigen opgestelde leerdoel 1 in 
        </p></MudPaper>
    </MudItem>
    <MudItem xs="1" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8 columnname"><p></p>
        <p class="description">
           ...
        </p></MudPaper>
    </MudItem>
</MudGrid>
<br /><br /><br />
<MudGrid>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Heeft de student professioneel en integer gedrag vertoond? Waaruit blijkt dit? (denk hierbij aan werkhouding, collegialiteit, eigen initiatief, zelfstandigheid):
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Heeft de student zich aan organisatorische regels en planningen gehouden? Waaruit blijkt dit?
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Wat kunt u zeggen over de samenwerking van de student met de bedrijfsbegeleider en collega’s? En wat kunt u zeggen over de communicatieve eigenschappen van de student?
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Op welke wijze heeft de student blijk gegeven van voldoende beheersing van kennis en vaardigheden om de opdracht/werkzaamheden uit te voeren?
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Op welke wijze heeft de student aan persoonlijke kennisontwikkeling gewerkt? En heeft de student nieuwe technieken/nieuwe inzichten aangetoond die voor hem/haar nieuw waren en/of nieuw waren voor het bedrijf?
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;">
            <p>
                Hoe heeft de student kennis doorgegeven in uw organisatie? En zo ja, hoe?
            </p>
        </MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p>
        </MudPaper>
    </MudItem>
</MudGrid>
<br /><br /><br />
<MudGrid>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Naam bedrijfsbegeleider</p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 6px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><p class="description">Wing Man Chung</p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Datum</p></MudPaper>
    </MudItem>
    <MudItem xs="6" Style="padding: 6px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8"><p class="description">0991406</p></MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: darkslategrey;"><p>Handtekening</p></MudPaper>
    </MudItem>
    <MudItem xs="12" Style="padding: 5px;">
        <MudPaper Class="d-flex align-center justify-center mud-width-full py-8">
            <p class="description">
                ...
            </p></MudPaper>
    </MudItem>
</MudGrid>

@code {

}
