body {
    height: 100%;
}

h1, h2, h3, p{
    color: white;
    font-weight: bold;
}

p {
    font-size: 16px;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
}

.description {
    color: black;
    margin-left: 30px;
    margin-right: 30px;
    font-weight: normal;
    font-size: 14px;
}

.description, p {
    margin-bottom: 0;
    overflow: hidden;
}