body {
    height: 100%;
}

h1, h2, h3, p {
    color: white;
    text-align: center;
}

h3 {
    margin-top: 15%;
    font-size: 50px;
}

h1 {
    font-size: 150px;
    font-weight: bold;
}

p {
    margin-top: 20px;
    letter-spacing: 3px;
    font-style: italic;
}