@page "/leerdoelen"

<h1>Leerdoelen</h1><br />

<h2>Competentie I: Manage en control</h2>
<h3>Leerdoel 1: SVN</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om SVN te gebruiken als version control systeem.”</p><br />

<h2>Competentie II: Analyseren</h2>
<h3>Leerdoel 2: Requirementsanalyse </h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een requirementsanalyse uit te voeren voor een reporting engine met verschillende belanghebbenden.”</p><br />

<h3>Leerdoel 3: Onderzoek</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om te analyseren hoe verschillende reporting engines & componenten werken.”</p><br />

<h2>Competentie III: Adviseren</h2>
<h3>Leerdoel 4: Adviesrapport</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om advies te geven over een selectie van softwarecomponenten bij het ontwikkelen van een softwaresysteem waarbij het kostenaspect een rol kan spelen.”</p><br />

<h2>Competentie IV: Ontwerpen</h2>
<h3>Leerdoel 5: UML-diagrammen</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een ontwerp op te stellen voor de gekozen reporting engine en maak hierbij gebruik van bestaande componenten en libraries.”</p><br />

<h3>Leerdoel 6: ERD</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een ontwerp op te stellen voor een database/databasewarehouse.”</p><br />

<h2>Competentie V: Realiseren</h2>
<h3>Leerdoel 7: Implementatie</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een reporting engine te implementeren conform de requirements van de opdracht en met kwaliteitsstandaarden zoals ze gebruikt worden in software engineering of zoals ze gehanteerd worden binnen het bedrijf.”</p><br />

<h3>Leerdoel 8: Nieuwe technologie</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om een nieuwe technologie te onderzoeken en te beheersen.”</p><br />

<h2>Competentie VI: Professional Skills</h2>
<h3>Leerdoel 9: Werkwijze, regels en procedures</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om mezelf in te werken en aan te passen aan het stagebedrijf betreft de werkwijze, regels en procedures.”</p><br />

<h3>Leerdoel 10: Zelfstandigheid</h3>
<p>“Ik wil na afloop van mijn 3e jaar stage in staat zijn om werkzaamheden zelfstandig uit te voeren (inzet, motivatie, respect).”</p><br />

@code {

}
